.one{
width: 100%;
height: 15vh;
background-color: rgb(66, 65, 65);

    
}
.two{
    height: 8vh;
    margin-left: 3vh;
    border-color: black;
    
}


body{
    margin: 0;
    background-color: gray;
    height: 250vh;
}
.three
{
    color: white;
    font-style: oblique;
    margin-top:-1vh;
    font-size: medium;
    margin-left: 2vh;
}
.four
{
    color: white;
    margin-left: 60%;
    margin-top: -30px;
}
.five{
    color: white;
    margin-left: 66%;
    margin-top: -34px;

}
.six
{
    color: white;
    margin-left: 72%;
    margin-top: -34px;
}
.seven
{
    color: white;
    margin-left: 79%;
    margin-top: -34px;
}
.eight
{
    color: white;
    margin-left: 86%;
    margin-top: -34px;
}
.nine{
    height: 100vh;
    width: 100%;
    margin: 0%;
}
.hello
{
    margin-top: -80vh;
    color: white;
    font-size: x-large;
    font-style: unset;
    margin-left: 40%;
}

.abc{
    background-color: grey;
    margin-left: 48.5%;
    margin-top: 17%;
    font-size: larger;
    color: white;
    border-radius: 23%;
    padding: 10px;
    width: 20vh;
}
.def
{
    height: 20vh;
    width: 35vh;
    margin-top: 36vh;
    margin-left: 10%;
    border-color: black;
}
.vish{
    color: orange;
    font-size: 7vh;
    margin-left: 30%;
    margin-top: -14vh;
}
.al{
    color: rgb(252, 243, 243);
    margin-left: 30%;
    font-size: 17px;
    margin-top: -3vh;
}
.jk
{
    color: rgb(199, 197, 197);
    margin-left: 30%;
}
.ks{
    color: yellow;
    font-size: 6vh;
    margin-left: 10%;
}
.sk{
    color: whitesmoke;
    font-size: 21px;
    margin-left: 10%;
}
.oper{
    margin-left: 10%;
    color: rgb(199, 197, 197);
}
.fgh{
    margin-left: 32%;

}
.fgh{
    height: 22vh;
    width: 35vh;
    margin-top: -45vh;
    margin-left: 39%;
    border-color: black;

}
.ty{
    margin-top: -7vh;
}
.cvb
{
    
    margin-top: 8vh;
}
.zxc
{
    
    height: 20vh;
    width: 35vh;
   
    margin-left: 10%;
    border-color: black;

}
.qwe{
    margin-left: 30%;
    font-size: 7vh;
    color: red;
    margin-top: -20vh;
}
.l{
    font-size: 3vh;
    margin-left: 30%;
    margin-top: -5vh;
    color: white;
}
.f{
    color: rgb(199, 197, 197);
    margin-left: 30%;
}
.g{
    height: 13vh;
    width: 100%;
    background-color: black;
    margin-top: 5vh;
}
.u{
height: 4vh;
margin-top: 5vh;
margin-left: 38%

}
.no{
    text-decoration: none;
    color: white;
    height: 30vh;
    margin-left: 60%;
}